{% extends 'layout/baseforms.html' %}

{% block content3 %}

{% load crispy_forms_tags %}

<body>
    <br>

            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card" style="background-color:#097182a6;color: white;;">
                        <div class="card-body">
                            <h3><strong>Ingrese el detalle de la venta</strong></h3>
                            <hr>
                            <p>Ingrese el ultimo elemento en idventa</p>

                            <form action="" method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form | crispy }}
                                <br>
                                <div class="d-flex justify-content-end">
                                    <button class="btn" style="background-color: white; color: #2B879E;" type="reset"> Limpiar </button>
                                    &nbsp;
                                    <input href="{% url 'ventas' %}" type="submit" value="Finalizar" class="btn btn-primary" style="background-color: #2B879E; color: beige;">
                                </div>
                            </form>
                    

                        </div>
                    </div>

                </div>
            </div>

</body>
{% endblock %}