{% extends 'layout/baseforms.html' %}

{% block content3 %}

{% load crispy_forms_tags %}

<body>
    <br>

            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card" style="background-color:#097182a6;color: white;">
                        <div class="card-body">
                            <h3><strong>Asignar lote</strong></h3>
                            <hr>

                    <form action="" method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ formulario2 | crispy}}
                        <br>
                        <div class="d-flex justify-content-end">
                            <input style="background-color: white; color: #2B879E;" type="reset" value="Limpiar" class="btn btn-outline">
                            &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary" style="background-color: #2B879E; color: beige;">
                        </div>
                    </form>
                    {{mensaje}}
                </div>
            </div>

        </div>
    </div>

</body>
{% endblock %}