{% extends 'layout/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<body>
    <br>

            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card" style="background-color:#097182a6;color: white;">
                        <div class="card-body">
                            <h3><strong>Nueva Medicina</strong></h3>
                            <hr>

                    <form action="" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form | crispy}}
                        <br>
                        <div class="d-flex justify-content-end">
                            <input id="myButton" type="reset" value="cancelar" class="btn btn-secondary">
                            &nbsp;
                            <input type="submit" value="Siguiente" class="btn btn-primary" style="background-color: #2B879E; color: beige;">
                        </div>
                    </form>
                    

                </div>
            </div>

        </div>
    </div>
    <br><br>
    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            // Redirecciona a la URL 'inventario' definida en las URL de Django
            window.location.href = "{% url 'inventario' %}";
        };
    </script>
</body>
{% endblock %}