{% extends './layout/base2.html' %}


{% block content1 %}
        
    <h1><b>Catálogo de productos</b></h1>
        <form action="" class="mt-4">
            <input type="text" class="form-control ph1" style="background: #c9ebe5;;" placeholder="&#128270;¿Que medicina desea buscar?  ">
        </form>
        
        <div class="row row-cols-1 row-cols-sm-4 g-4 mt-5">
            <div class="col">
                <div class="card">
                    <img src="/images/fondo1.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">ACETAMINOFEN</h5>
                    <p class="card-text">$0.60/unidad</p>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"> </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"> </p>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/fondo1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            </div>
        </div>
{% endblock content1 %}
    