{% extends './layout/base2.html' %}

{% block content1 %}
  <form action="/inicio/" method="POST">
    <div class="py-5">
      <div class="contentlg rounded-4 col-md-4 offset-md-4 shadow">
        <h1 class="txtlg text-center">Medicina Popular</h1>
        <h1 class="txter text-center">Jerónimo</h1>
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="txtparf">Correo electrónico</label>
          <input type="text" name="username" class="form-control let" placeholder="Escribe aquí" id="username">
        </div>
        <div class="mb-3">
          <label for="password" class="txtparf">Contraseña</label>
          <input type="text" name="password" class="form-control let" placeholder="Escribe aquí" id="password">
        </div>
        <div class="flex-column border-top-0 text-center bae">
          <button type="submit" class="boton1">Inicio Sesión</button>
        </div>
      </div>
    </div>  
  </form>

{% endblock content1 %}