{% extends 'layout/base.html' %}

{% block content %}

<div class="t-5 content-fluid">
    <br>
    <h1><b>Administrar usuarios</b></h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo electrónico</th>
                                <th>Tipo de usuario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            
                        </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- <button class="boton btn-lg" href=""><b>Agregar nuevo articulo</b></button> -->
                <a style="text-decoration: none"  role="button"><button class="buscar boton btn-md"><b>Agregar usuario</b></button></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}