{% extends './layout/base.html' %}
{% block content %}
{% comment %} {% load humanize %} {% endcomment %}
    <div class="container-fluid">
        <br>
        <h1><B>Registro de ventas</B></h1>
        <br>
        <div class="container ">
            <div class="row">
                <div class="col-sm-8">
                    <form action="">
                            <input type="text" class="form-control ph1" style="background: #c9ebe5;;" placeholder="&#128270;¿Que medicina desea buscar?  ">
                    </form>
                    <br>
                    
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>N° de lote</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio de venta</th>
                                <th>Ganancia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data_list %}
                                <tr>
                                    <td>{{ data.lote.lote }}</td>
                                    <td>{{ data.articulo.nombre }}</td>
                                    <td>{{ data.detalle_venta.cantidad }}</td>
                                    <td>{{ data.articulo.precio_venta }}</td>
                                    <td>{{ data.detalle_venta.ganancia }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                            <a style="text-decoration: none;color: #ffffff;" href="" type='submit'><i class="bi bi-pencil-square"></i></a>
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-sm btn-danger"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                            <a style="text-decoration: none;color: #ffffff;" href="" type='submit'><i class="bi bi-trash3"></i></a>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                        {% comment %} <div class="container text-center">
                            <div class="row row-cols-5">
                                <div class="col">N° de lote</div>
                                <div class="col">Producto</div>
                                <div class="col">Cantidad</div>
                                <div class="col">Precio de venta</div>
                                <div class="col">Ganancia</div>
                                {% for lote_obj in lote_list %}
                                    <div class="col">{{ lote_obj.lote }}</div>
                                {% endfor %}
                                {% for articulo_obj in articulo_list %}
                                    <div class="col">{{ articulo_obj.nombre }}</div>
                                {% endfor %}
                                {% for detalle_venta_obj in detalle_venta_list %}
                                    <div class="col">{{ detalle_venta_obj.cantidad }}</div>
                                {% endfor %}
                                <div class="col">Precio de venta</div>
                                <div class="col">Ganancia</div>
                            </div>
                        </div> {% endcomment %}
                    
                </div>
                <div class="col-sm-4">
                    <button class="boton">
                        <a href="{% url 'crearVenta' %}" style="text-decoration: none; color:#0b3a46"> <b>Crear venta</b></a>
                    </button>
                    <br>
                    <div class="container-md alertas">
                        <h3><B>GANANCIAS DIARIAS</B></h3>
                        <div class="al center" role="alert">
                            <h5><b> $00.00</b></h5>
                        </div>
                        <br>
                        <h3><B>GANANCIAS TOTALES</B></h3>
                        <div class="al center" role="alert">
                            <h5><b>$00.00</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}