{% extends './layout/base.html' %}
{% block content %}
{% comment %} {% load humanize %} {% endcomment %}
    <div class="container-fluid">
        <br>
        <h1><B>Registro de ventas</B></h1>
        <br>
        <div class="container ">
            <div class="row">
                <div class="col-sm-8">
                    <form class="d-flex" action="{% url 'searchv' %}">
                        <input type="search" class="form-control ph1" style="background: #white;" name="q" placeholder="&#128270;¿Que medicina está buscando?  ">
                        <button class="buscar" type="submit">Buscar</button>
                    </form>
                    <br>
                    
                    <table class="table table-borderless text-center">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Ganancias</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if ventas %}
                                {% for venta in ventas%}
                                    <tr>
                                        <td>{{ venta.fecha_hora }}</td>
                                        <td>{{ venta.nombre |title }}</td>
                                        <td>{{ venta.cantidad }}</td>
                                        <td>{{ venta.precio_venta }}</td>
                                        <td>{{ venta.total }}</td>
                                        <td>{{ venta.ganancias }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                                {% comment %} <a style="text-decoration: none;color: #ffffff;" href="{% url 'editarVenta' data.detalle_venta.iddetalle_venta %}" type='submit'><i class="bi bi-pencil-square"></i></a> {% endcomment %}
                                                <a style="text-decoration: none;color: #ffffff;" href="{% url 'editarVenta' venta.idventa venta.iddetalle_venta %}" type='submit'><i class="bi bi-pencil-square"></i></a>
                                            </button>
                                            &nbsp;
                                            <button class="btn btn-sm btn-danger"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                                <a style="text-decoration: none;color: #ffffff;" href="{% url 'eliminarVenta' venta.iddetalle_venta %}" type='submit'><i class="bi bi-trash3 biEliminacion"></i></a>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6">No hay ventas registradas</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>   
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'crearVenta' %}" style="text-decoration: none;">
                        <button class="buscar boton btn-md">
                        <b>Crear venta</b>
                    </button></a>
                    <br>
                    <div class="container-md alertas">
                        <h3><B>TOTAL DE VENTA DIARIA</B></h3>
                        <div class="al center" role="alert">
                        <h5><b>${{ ganancias_hoy}}</b></h5>    
                        </div>
                        <br>
                        <h3><B>TOTAL DE VENTA</B></h3>
                        <div class="al center" role="alert">
                            <h5><b>${{ ganancias_totales}}</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock content %}