{% extends './layout/base.html' %}

{% block content %}
<div class="container-fluid">
    {% if user.is_authenticated %}
    <h1 class="text-center"><b>Bienvenido {{ user.get_username }}</b></h1>
    {% endif %}
    <br>
    <div class="container ">
        <div class="row">
            <div class="col-sm-8">
                <div class="table-responsive pt-5">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in venta %}
                        <tr>
                            <td>{{ v.nombre}}</td>  
                            <td>{{ v.cantidad}}</td>  
                            <td>{{ v.total}}</td> 
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container-md alertas mt-3">
                    <h3><b>AVISOS IMPORTANTES:</b></h3>
                    <h5><b>Disponibilidad de inventario</b></h5>
                    <div class="al center" role="alert">
                        {% for poco in pocos %}
                            {% if poco.cantidad > 0 %}
                                <h6><b> &#x26A0; {{poco.nombre}}</b></h6>
                                <p>Cantidad disponible: {{poco.cantidad}}</p>
                                {% else %}
                                <h6><b><i class="bi bi-exclamation-octagon-fill"></i> {{poco.nombre}}</b></h6>
                                <p>Se agotaron existencias</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <h5><b>Por expirar</b></h5>
                    <div class="al center" role="alert">
                        <h6>&#x26A0;<b>   ACETAMINOFEN</b></h6>
                        <p>Cantidad disponible: 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}