{% extends './layout/base.html' %}

{% block content %}
<div class="container-fluid mt-3">
    {% if user.is_authenticated %}
    <h1 class="text-center"><b>Bienvenido {{ user.get_username }}</b></h1>
    {% endif %}
    <hr>
    <div class="container ">
        <div class="row">
            <div class="col-sm-8">
                <h2><b>Ventas del día</b></h2>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if venta %}
                            {% for v in venta %}
                                <tr>
                                    <td>{{ v.nombre }}</td>
                                    <td>{{ v.cantidad }}</td>
                                    <td>{{ v.precio_venta }}</td>
                                    <td>{{ v.total }}</td>
                                </tr>
                        {% endfor %}
                        {% else %}
                                <tr>
                                    <td colspan="3" style="text-align: center;">No hay ventas registradas por hoy</td>
                                </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container-md alertas mt-3">
                    <h3><b>AVISOS IMPORTANTES:</b></h3>
                    <h5><b>Disponibilidad de inventario</b></h5>
                    <div class="al center" role="alert">
                        {% for poco in pocos %}
                            {% if poco.cantidad > 0 %}
                                <h6><b> &#x26A0; {{poco.nombre}}</b></h6>
                                <p>Cantidad disponible: {{poco.cantidad}}</p>
                                {% else %}
                                <h6><b><i class="bi bi-exclamation-octagon-fill"></i> {{poco.nombre}}</b></h6>
                                <p>Se agotaron existencias</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <h5><b>Por expirar</b></h5>
                    <div class="al center" role="alert">
                        {% for vencimiento in vencimiento %}
                        
                            {% if vencimiento.fecha_vencimiento <= actual %}
                                <h6><b><i class="bi bi-exclamation-octagon-fill"></i> {{ vencimiento.idarticulo }}</b></h6>
                                <p>Se ha vencido</p>
                            {% else %}
                                <h6><b>&#x26A0; {{ vencimiento.idarticulo }}</b></h6>
                                    <p>Vence el {{ vencimiento.fecha_vencimiento }}</p>
                            {% endif %}
                                    
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}