{% extends './layout/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1><b>Registro de inventario</b></h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form class="m-4 d-flex" action="{% url 'search2' %}">
                        <input type="search" class="form-control ph1" style="background: #c9ebe5;" name="q" placeholder="&#128270;¿Que medicina está buscando?  ">
                        <button class=" btn btn-primary" type="submit">Buscar</button>
                    </form>
                    <div class="table-responsive pt-5">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>N° de lote</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Vencimiento</th>
                                    <th>Costo</th>
                                    <th>Venta</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                            <tr>
                                <td>{{ producto.nlote }}</td>  
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.cantidad }}</td>  
                                <td>{{ producto.fecha_ven }}</td>  
                                <td>{{ producto.compra }}</td>  
                                <td>{{ producto.precio_venta }}</td>
                                <td>
                                    <button class="btn btn-sm btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                        <a style="text-decoration: none;color: #ffffff;" href="{% url 'modificar' producto.idarticulo %}" type='submit'><i class="bi bi-pencil-square"></i></a>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-sm btn-danger"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                        <a style="text-decoration: none;color: #ffffff;" href="{% url 'eliminarProducto' producto.idarticulo %}" type='submit'><i class="bi bi-trash3"></i></a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- <button class="boton btn-lg" href=""><b>Agregar nuevo articulo</b></button> -->
                    <button class="boton btn-md"><a style="text-decoration: none;color: #0b3a46;" href="{% url 'crear' %}" role="button"><b>Agregar</b></a></button>
                    <br>
                    <br>
                    <div class="container-md alertas mt-3">
                        <h3><b>ABASTECER:</b></h3>
                        <div class="al center" role="alert">
                            <h6>&#x26A0;<b>   ACETAMINOFEN</b></h6>
                            <p>Cantidad disponible: 1</p>
                        </div>
                        <br>
                        <h3><b>POR EXPIRAR:</b></h3>
                        <div class="al center" role="alert">
                            {% for poco in pocos %}
                            <h6> &#x26A0; {{poco.nombre}}</h6>
                            <p>Cantidad disponible: {{poco.cantidad}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}