{% extends './layout/base.html' %}

{% block content %}
    <div class="container-fluid">
        <br>
        <h1><b>Registro de inventario</b></h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form class=" d-flex" action="{% url 'search2' %}">
                        <input type="search" class="form-control ph1" style="background: #ffffff;" name="q" placeholder="&#128270;¿Que medicina está buscando?  ">
                        &nbsp;
                        <button class="buscar " type="submit">Buscar</button>
                        
                    </form>
                    <div class="table-responsive pt-5">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Lote</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Vencimiento</th>
                                    <th>Costo</th>
                                    <th>Venta</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if productos %}
                                    {% for producto in productos %}
                                        <tr>
                                            <td>{{ producto.nlote }}</td>  
                                            <td>{{ producto.nombre }}</td>
                                            <td>{{ producto.cantidad }}</td>  
                                            {% if producto.fecha_ven < actual %}
                                                <td style="color:red;";>{{ producto.fecha_ven }}</td>
                                            {% else %}
                                                <td>{{ producto.fecha_ven }}</td>
                                            {% endif %}
                                            <td>{{ producto.compra }}</td>  
                                            <td>{{ producto.precio_venta }}</td>                                            
                                            <td>
                                                <button class="btn btn-sm btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                                    <a style="text-decoration: none;color: #ffffff;" href="{% url 'modificar' producto.idarticulo producto.idlote %}" type='submit'><i class="bi bi-pencil-square"></i></a>
                                                </button>
                                                &nbsp;
                                                <button class="btn btn-sm btn-danger"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">
                                                    <a style="text-decoration: none;color: #ffffff;" href="{% url 'eliminarProducto' producto.idlote %}" type='submit'><i class="bi bi-trash3 biEliminacion"></i></a>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td style="text-align: center;" colspan="7">No hay productos registrados</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                        {% include 'paginacion.html' %}
                    
                </div>
                <div class="col-sm-4">
                    <!-- <button class="boton btn-lg" href=""><b>Agregar nuevo articulo</b></button> -->
                    <a style="text-decoration: none" href="{% url 'crear' %}" role="button"><button class="buscar boton btn-md m-1"><b>Agregar producto</b></button></a>
                    <a style="text-decoration: none" href="{% url 'asignarLote' %}" role="button"><button class="buscar boton btn-md"><b>Agregar Lote</b></button></a>
                        <div class="container-md alertas mt-4">
                            <h3><b>AVISOS IMPORTANTES:</b></h3>
                            <h5><b>Disponibilidad de inventario</b></h5>
                            <div class="al center" role="alert">
                                {% if pocos %}
                                    {% for poco in pocos %}
                                        {% if poco.cantidad > 0 %}
                                            <h6><b> &#x26A0; {{poco.nombre}}</b></h6>
                                            <p>Cantidad disponible: {{poco.cantidad}}</p>
                                            {% else %}
                                            <h6><b><i class="bi bi-exclamation-octagon-fill"></i> {{poco.nombre}}</b></h6>
                                            <p>Se agotaron existencias</p>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                <p>No hay productos con menos de 1 unidad en stock.</p>
                                {% endif %}
                            </div>
                            <br>
                            <h5><b>Por expirar</b></h5>
                            <div class="al center" role="alert">
                                {% if vencimiento %}
                                    {% for vencimiento in vencimiento %}
                                        {% if vencimiento.fecha_vencimiento <= actual %}
                                            <h6><b><i class="bi bi-exclamation-octagon-fill"></i> {{ vencimiento.idarticulo }}</b></h6>
                                            <p>Se ha vencido</p>
                                        {% else %}
                                            <h6><b>&#x26A0; {{ vencimiento.idarticulo }}</b></h6>
                                            <p>Vence el {{ vencimiento.fecha_vencimiento }}</p>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p>No hay productos proximos a vencerse.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock content %}