{% extends './layout/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1><b>Registro de inventario</b></h1>
        <br>
        <div class="container ">
            <div class="row">
                <div class="col-sm-8">
                    <form action="">
                            <input type="text" class="form-control ph1" style="background: #c9ebe5;;" placeholder="&#128270;¿Que medicina desea buscar?" name='buscar'>
                    </form>
                    <div class="table-responsive pt-5">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>N° de lote</th>
                                    <th>Producto</th>
                                    <th>Vencimiento</th>
                                    <th>Costo</th>
                                    <th>Venta</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                            <tr>
                              <td>{{ producto.nlote }}</td>  
                              <td>{{ producto.nombre }}</td>  
                              <td>{{ producto.fecha_ven }}</td>  
                              <td>{{ producto.compra }}</td>  
                              <td>{{ producto.precio_venta }}</td>
                              <td>Acciones</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button class="boton">
                        <span><b>EDITAR REGISTRO</b></span>
                    </button>
                    <br>
                    <div class="container-md alertas mt-3">
                        <h3><b>ABASTECER:</b></h3>
                        <div class="al center" role="alert">
                            <h6>&#x26A0;<b>   ACETAMINOFEN</b></h6>
                            <p>Cantidad disponible: 1</p>
                        </div>
                        <br>
                        <h3><b>POR EXPIRAR:</b></h3>
                        <div class="al center" role="alert">
                            <h6> &#x26A0;  <b>ACETAMINOFEN</b></h6>
                            <p>Cantidad disponible: 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}